TemperatureClient/xml-resources/web-service-references/TemperatureWs/wsdl/localhost_8080/TemperatureConvertApp/TemperatureWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Temperature.my.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Temperature.my.org/" name="TemperatureWs">
<types>
<xsd:schema>
<xsd:import namespace="http://Temperature.my.org/" schemaLocation="http://localhost:8080/TemperatureConvertApp/TemperatureWs?xsd=1"/>
</xsd:schema>
</types>
<message name="FahrenheitToCelsius">
<part name="parameters" element="tns:FahrenheitToCelsius"/>
</message>
<message name="FahrenheitToCelsiusResponse">
<part name="parameters" element="tns:FahrenheitToCelsiusResponse"/>
</message>
<message name="CelsiusToFahrenheit">
<part name="parameters" element="tns:CelsiusToFahrenheit"/>
</message>
<message name="CelsiusToFahrenheitResponse">
<part name="parameters" element="tns:CelsiusToFahrenheitResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="TemperatureWs">
<operation name="FahrenheitToCelsius">
<input wsam:Action="http://Temperature.my.org/TemperatureWs/FahrenheitToCelsiusRequest" message="tns:FahrenheitToCelsius"/>
<output wsam:Action="http://Temperature.my.org/TemperatureWs/FahrenheitToCelsiusResponse" message="tns:FahrenheitToCelsiusResponse"/>
</operation>
<operation name="CelsiusToFahrenheit">
<input wsam:Action="http://Temperature.my.org/TemperatureWs/CelsiusToFahrenheitRequest" message="tns:CelsiusToFahrenheit"/>
<output wsam:Action="http://Temperature.my.org/TemperatureWs/CelsiusToFahrenheitResponse" message="tns:CelsiusToFahrenheitResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Temperature.my.org/TemperatureWs/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Temperature.my.org/TemperatureWs/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="TemperatureWsPortBinding" type="tns:TemperatureWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FahrenheitToCelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CelsiusToFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TemperatureWs">
<port name="TemperatureWsPort" binding="tns:TemperatureWsPortBinding">
<soap:address location="http://localhost:8080/TemperatureConvertApp/TemperatureWs"/>
</port>
</service>
</definitions>