TemperatureClient/src/META-INF/wsdl/localhost_8080/TemperatureConvertApp/TemperatureWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://Temperature.my.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Temperature.my.org/">

<xs:element name="CelsiusToFahrenheit" type="tns:CelsiusToFahrenheit"/>

<xs:element name="CelsiusToFahrenheitResponse" type="tns:CelsiusToFahrenheitResponse"/>

<xs:element name="FahrenheitToCelsius" type="tns:FahrenheitToCelsius"/>

<xs:element name="FahrenheitToCelsiusResponse" type="tns:FahrenheitToCelsiusResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FahrenheitToCelsius">
<xs:sequence>
<xs:element name="f" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FahrenheitToCelsiusResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheit">
<xs:sequence>
<xs:element name="c" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>